body {

    color:  white;
    background-image: url('http://charliecowan.co.uk/mcbuttongenerator/button_center.png');
    overflow: auto;
}
main {
    width: 80%;
    margin-left:auto;
    margin-right: auto;
   
}
h1, h2, h3, h4{
    font-family: 'MinecraftiaRegular', sans-serif;
    font-weight: bold;
}

span, em {
    font-weight: bold;
    font-style: normal;
}
h1 {
    text-align: center;
}
p, span {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

h3, h4 {
    margin-bottom: 0;
}

.endpoint {
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
}

.top {
    margin-top: 0;
}

#redstone, #all-blocks, #all-recipes {
    font-family: monospace;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

#start, #middle, #last, #all-recipes > p {
    margin-left: 20px;
}

i {
    text-align:center;
}